<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Book</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <div class="findABook">
            <div>
                <h1>Book Matching📖💕</h1>
                <p class="subtitle">Dive into your next great story! This tool will generate a random book suggestion from the latest New York Times Bestselling lists.</p>
            </div>
            <div>
                <form class="form" action="/randomBookTitle" method="post">
                <label for="lists">Select the list</label>
                <select class="options" id="lists" name="lists">
                    <% for (i=0; i<currentLists.length ; i++) { %>
                        <option value="<%=encodedNames[i] %>"><%= currentLists[i] %></option>
                        <% } %> 
                </select>  
                <button class="button submit" type="submit">Scrabble</button>
                <p>or</p>
                <button class="button submit secondary" type="submit" formaction="/allLists">Scrabble ALL lists</button>
            </form>    
            </div>  
                          
        </div>
    </div>



</body>
</html>