body {
    margin-top: 50px;
    height: 100vh;
    background-color: #5F6F52;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat', sans-serif;;
}

h1 {
    color: #FEFAE0;
    font-family: 'Hind', sans-serif;
    margin-bottom: 10px;
}

.subtitle {
    color: #A9B388;
    font-size: 1.3rem;
    margin-bottom: 30px;
    width: 60%;
    text-align: center;
}

.randomBookContainer {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.bookSelector {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}
.button {
    background-color: #B99470;
    border-radius: 25px;
    width: 50%;
    text-align: center;
}
.button > a {
    color: #5F6F52;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.bookDetails {
    background-color: #A9B388;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    justify-content: center;
    padding: 10%;
    color: #5F6F52;
}
.bookTitle {
    color: #FEFAE0;
    font-family: 'Hind', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1px;

}

.bookAuthor {
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    font-size: 1.2rem;
}

.bookDescription {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1px ;
}

.bookPicture {
    grid-column: span 1;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    min-height: fit-content;
    padding: 10px;
    
}


.buyingLink {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    text-align: end;
    color: #FEFAE0;;
    padding-right: 10%;
}
.buyingLink a {
    color: #FEFAE0;;
}

.bestsellingList {
    grid-column: span 1;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    color: #FEFAE0;
    padding-left: 10%;
}

.empty {
    color: #B99470;
    grid-column: span 2;
    display: flex;
    justify-content: center;
}